//- Here hotel={}(by default) because this same mixin form is used for both adding and updating the data and for adding we donot require to pass any hotel data so we keep it empty but for updation we require the hotel data so getting it as an argument
mixin hotelForm(hotel={})
    //- multipart/form-data : allows image also to get send when form is submitted
    form(action="" method="POST" enctype="multipart/form-data")
        .form_input 
            label(for="hotel_name") Hotel Name
            //- This input field name should be same as what mentioned in schema
            input(type="text" name="hotel_name" required value=hotel.hotel_name)
        .form_input
            label(for="hotel_description") Hotel Description
            textarea(name="hotel_description", cols="30", rows="10", id="hotel_description")=hotel.hotel_description
        .form_input
            label(for="image") Hotel image
            input(type="file" name="image" id="image") 
        .form_input
            label(for="star_rating") Star Rating
            input(type="number", name="star_rating" min="1" max="5" required id="star_rating" value=hotel.star_rating)
        .form_input
            label(for="country") Country
            input(type="text" name="country" required id="country" value=hotel.country)
        .form_input
            label(for="cost_per_night") Cost Per Night
            input(type="number" name="cost_per_night" required id="cost_per_night" value=hotel.cost_per_night)
        .form_input
            label(for="available") Available
            input(type="radio" id="available" name="available" value="true" checked)
            label(for="unavailable") Unavailable
            input(type="radio" id="unavailable" name="available" value="false") 
        .form_input
            button(type="submit" class="button_small") CONFIRM
        